*
{
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    margin:1em;
}
.navbar-default{
    background: #ff8305;
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
}
#myCarousel{
    margin-top: -1.5em;
}
footer{
    background: black;
    color: white;
    padding: 1em;
}
.redes {
    background: #0090b5;
    margin-top: 2em;
}
.redes ul li{
    list-style: none;
     display: inline;
    padding: 0.6em;
}
.thumbnail{
    border: none;
}
